Repository masahiro-kubota/python-self-driving-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, dashboard-lint, dashboard-format

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']

  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Dependency checker
  - repo: local
    hooks:
      - id: deptry
        name: deptry
        entry: uv run --directory core deptry .
        language: system
        pass_filenames: false
        files: ^core/

  # React Dashboard linter and formatter
  - repo: local
    hooks:
      - id: dashboard-lint
        name: Dashboard ESLint
        entry: bash -c 'cd tools/dashboard && npm run lint'
        language: system
        pass_filenames: false
        files: ^tools/dashboard/src/.*\.(ts|tsx)$
      - id: dashboard-format
        name: Dashboard Prettier
        entry: bash -c 'cd tools/dashboard && npm run format:check'
        language: system
        pass_filenames: false
        files: ^tools/dashboard/src/.*\.(ts|tsx|css)$

Fix TypeError in dashboard: Handle undefined values in TimeSeriesPlot
  tools/dashboard/src/components/TimeSeriesPlot.tsx
Due: dashboard-lint, dashboard-format

Fix dashboard layout: Apply absolute positioning for Recharts
  tools/dashboard/src/components/TimeSeriesPlot.tsx
Due: dashboard-lint, dashboard-format

Fix dashboard data structure mismatch
  tools/dashboard/src/store/simulationStore.ts
Due: dashboard-lint, dashboard-format

refactor: consolidate geometry utilities to core package
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  simulators/simulator_kinematic/src/simulator_kinematic/vehicle.py
  simulators/simulator_utils/src/simulator_utils/__init__.py
  simulators/simulator_utils/src/simulator_utils/geometry.py
  simulators/simulator_utils/tests/test_geometry.py
Due: none

refactor: create dashboard package and define interface in core
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/dashboard.py
  dashboard/frontend/.gitignore
  dashboard/frontend/.prettierrc
  dashboard/frontend/eslint.config.js
  dashboard/frontend/index.html
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/public/vite.svg
  dashboard/frontend/src/App.css
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/DashboardLayout.tsx
  dashboard/frontend/src/components/TimeSeriesPlot.tsx
  dashboard/frontend/src/components/TimeSlider.tsx
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/main.tsx
  dashboard/frontend/src/store/simulationStore.ts
  dashboard/frontend/src/types/index.ts
  dashboard/frontend/src/vite-env.d.ts
  dashboard/frontend/tsconfig.app.json
  dashboard/frontend/tsconfig.json
  dashboard/frontend/tsconfig.node.json
  dashboard/frontend/vite.config.ts
  dashboard/postcss.config.js
  dashboard/pyproject.toml
  dashboard/src/dashboard/__init__.py
  dashboard/src/dashboard/generator.py
  dashboard/src/dashboard/injector.py
  dashboard/tailwind.config.js
  experiment_runner/pyproject.toml
  experiment_runner/src/experiment_runner/runner.py
  pyproject.toml
  uv.lock
  visualization/scripts/generate_dashboard.py
Due: deptry

Fix: Update GitHub Actions workflows for new directory structure
  .github/workflows/integration-tests.yml
  .github/workflows/pre-commit.yml
Due: none

chore: remove unused visualization package
  README.md
  experiment/runner/pyproject.toml
  pyproject.toml
  uv.lock
  visualization/README.md
  visualization/pyproject.toml
  visualization/scripts/animate_logs.py
  visualization/scripts/imitation_learning/collect_data.py
  visualization/scripts/imitation_learning/evaluate.py
  visualization/scripts/imitation_learning/train.py
  visualization/scripts/mcap_to_log.py
  visualization/scripts/plot_logs.py
  visualization/src/visualization/__init__.py
  visualization/src/visualization/animator.py
  visualization/src/visualization/base.py
  visualization/src/visualization/plotter.py
Due: none

refactor: move lanelet2_map.osm to dashboard/assets
  dashboard/assets/lanelet2_map.osm
  experiment/runner/src/experiment_runner/runner.py
  test_dynamic_sim.py
Due: none

docs: update README with architecture diagrams and package details
  README.md
Due: none

docs: update Simulator interface in README
  README.md
Due: none

fix
  README.md
  dashboard/README.md
  dashboard/TESTING.md
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/public/simulation_log.json
  dashboard/frontend/src/components/TimeSeriesPlot.tsx
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/react-plotly.d.ts
  dashboard/frontend/src/store/simulationStore.ts
  dashboard/tests/.gitignore
  dashboard/tests/dummy_data.py
  dashboard/tests/test_dashboard.sh
Due: none

fix
  README.md
  core/src/core/data/trajectory.py
Due: deptry

fix
  README.md
  component_packages/control/neural_controller/pyproject.toml
  component_packages/control/neural_controller/src/neural_controller/__init__.py
  component_packages/control/neural_controller/src/neural_controller/controller.py
  component_packages/control/pid/pyproject.toml
  component_packages/control/pid/src/pid/__init__.py
  component_packages/control/pid/src/pid/controller.py
  component_packages/planning/planning_utils/pyproject.toml
  component_packages/planning/planning_utils/src/planning_utils/__init__.py
  component_packages/planning/planning_utils/src/planning_utils/track_loader.py
  component_packages/planning/pure_pursuit/pyproject.toml
  component_packages/planning/pure_pursuit/src/pure_pursuit/__init__.py
  component_packages/planning/pure_pursuit/src/pure_pursuit/data/tracks/raceline_awsim_15km.csv
  component_packages/planning/pure_pursuit/src/pure_pursuit/planner.py
  experiment/configs/current_experiment.yaml
  experiment/runner/pyproject.toml
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_integration.py
  experiment/runner/tests/test_training.py
  experiment/training/README.md
  experiment/training/pyproject.toml
  experiment/training/src/experiment_training/__init__.py
  experiment/training/src/experiment_training/data/__init__.py
  experiment/training/src/experiment_training/data/dataset.py
  experiment/training/src/experiment_training/models/__init__.py
  experiment/training/src/experiment_training/trainer.py
  pyproject.toml
  uv.lock
Due: none

fix
  .gitignore
  experiment/configs/experiments/data_collection_pure_pursuit.yaml
  experiment/configs/experiments/function_approximation.yaml
  experiment/configs/experiments/imitation_learning.yaml
  experiment/runner/src/experiment_runner/config.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/training/scripts/generate_function_data.py
  experiment/training/src/experiment_training/function_trainer.py
  experiment/training/src/experiment_training/trainer.py
Due: none

fix
  experiment/runner/src/experiment_runner/cli.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/training/scripts/download_mlflow_data.py
Due: none

fix
  experiment/runner/tests/test_integration.py
Due: none

fix
  .gitignore
  core/src/core/data/__init__.py
  core/src/core/data/result.py
  core/src/core/interfaces/simulator.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/training/src/experiment_training/data/function_dataset.py
  simulators/simulator_utils/src/simulator_utils/base.py
Due: deptry

fix
  experiment/configs/experiments/data_collection_pure_pursuit.yaml
  experiment/configs/experiments/imitation_learning.yaml
  experiment/configs/experiments/imitation_learning_from_mlflow.yaml
  experiment/configs/experiments/imitation_learning_s3.yaml
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/experiments/pure_pursuit_dynamic.yaml
  experiment/runner/pyproject.toml
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_integration.py
  uv.lock
Due: none

fix
  README.md
  pyproject.toml
  uv.lock
Due: none

fix
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  ad_components/control/neural_controller/pyproject.toml
  ad_components/control/neural_controller/src/neural_controller/controller.py
  ad_components/control/pid_controller/pyproject.toml
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/core/pyproject.toml
  ad_components/core/src/ad_component_core/__init__.py
  ad_components/core/src/ad_component_core/data/__init__.py
  ad_components/core/src/ad_component_core/interfaces/__init__.py
  ad_components/core/src/ad_component_core/interfaces/controller.py
  ad_components/core/src/ad_component_core/interfaces/perception.py
  ad_components/core/src/ad_component_core/interfaces/planner.py
  ad_components/core/src/ad_components_core/__init__.py
  ad_components/core/src/ad_components_core/interfaces/__init__.py
  ad_components/planning/planning_utils/pyproject.toml
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  core/pyproject.toml
  core/src/core/data/__init__.py
  core/src/core/data/observation.py
  core/src/core/interfaces/components.py
  dashboard/pyproject.toml
  experiment/configs/current_experiment.yaml
  experiment/training/pyproject.toml
  pyproject.toml
  simulators/core/README.md
  simulators/core/pyproject.toml
  simulators/core/src/simulator_core/__init__.py
  simulators/core/src/simulator_core/base.py
  simulators/core/src/simulator_core/integration.py
  simulators/simulator_dynamic/pyproject.toml
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_kinematic/pyproject.toml
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  uv.lock
Due: deptry

fix
  ad_components/core/pyproject.toml
  ad_components/core/src/ad_component_core/__init__.py
  ad_components/core/src/ad_component_core/data/__init__.py
  ad_components/core/src/ad_component_core/interfaces/__init__.py
  ad_components/core/src/ad_component_core/interfaces/controller.py
  ad_components/core/src/ad_component_core/interfaces/perception.py
  ad_components/core/src/ad_component_core/interfaces/planner.py
Due: none

fix
  .github/workflows/integration-tests.yml
  .pre-commit-config.yaml
  README.md
  core/tests/test_interfaces.py
  experiment/runner/tests/test_training.py
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_dynamic/tests/test_dynamic.py
  simulators/simulator_kinematic/tests/test_kinematic.py
Due: deptry

fix
  pyproject.toml
  uv.lock
Due: none

fix
  ad_components/control/neural_controller/src/neural_controller/controller.py
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/core/src/ad_component_core/__init__.py
  ad_components/core/src/ad_component_core/interfaces/__init__.py
  ad_components/core/src/ad_component_core/interfaces/controller.py
  ad_components/core/src/ad_component_core/interfaces/perception.py
  ad_components/core/src/ad_component_core/interfaces/planner.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
Due: none

fix
  README.md
Due: none

fix
  README.md
  scripts/generate_architecture_diagram.py
Due: none

fix
  core/pyproject.toml
  core/src/core/data/ad_components/state.py
  core/src/core/data/environment/__init__.py
  core/src/core/data/environment/lanelet_map.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/runner/src/experiment_runner/runner.py
  pyproject.toml
  simulators/core/assets/lanelet2_map.osm
  simulators/simulator_kinematic/pyproject.toml
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  simulators/simulator_kinematic/tests/test_boundary.py
  uv.lock
Due: deptry

fix
  core/pyproject.toml
  core/src/core/data/environment/__init__.py
  simulators/core/pyproject.toml
  simulators/core/src/simulator_core/data/__init__.py
  simulators/core/src/simulator_core/data/environment/__init__.py
  simulators/core/src/simulator_core/data/environment/lanelet_map.py
  simulators/core/tests/__init__.py
  simulators/core/tests/test_lanelet_map.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  uv.lock
Due: deptry

fix
  simulators/README.md
  simulators/core/README.md
  simulators/core/src/simulator_core/__init__.py
  simulators/core/src/simulator_core/data/__init__.py
  simulators/core/src/simulator_core/data/environment/__init__.py
  simulators/core/src/simulator_core/data/state.py
  simulators/core/src/simulator_core/map/__init__.py
  simulators/core/src/simulator_core/map/lanelet_map.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/src/simulator_core/solver.py
  simulators/core/tests/test_lanelet_map.py
  simulators/core/tests/test_simulator.py
  simulators/core/tests/test_solver.py
  simulators/core/tests/test_state.py
  simulators/simulator_dynamic/README.md
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_dynamic/src/simulator_dynamic/state.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  simulators/simulator_dynamic/tests/test_dynamic.py
  simulators/simulator_kinematic/README.md
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  simulators/simulator_kinematic/src/simulator_kinematic/vehicle.py
  simulators/simulator_kinematic/tests/test_kinematic.py
Due: none

fix
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
Due: none

fix
  experiment/runner/src/experiment_runner/config.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_training.py
  simulators/README.md
  simulators/core/README.md
  simulators/core/src/simulator_core/data/__init__.py
  simulators/core/src/simulator_core/data/state.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_simulator.py
  simulators/core/tests/test_state.py
  simulators/simulator_dynamic/README.md
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  simulators/simulator_dynamic/tests/test_dynamic.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  simulators/simulator_kinematic/src/simulator_kinematic/vehicle.py
  simulators/simulator_kinematic/tests/test_kinematic.py
Due: none

fix
  core/README.md
Due: deptry

fix
  .github/workflows/integration-tests.yml
  .github/workflows/pages-deploy.yml
  experiment/configs/experiments/pure_pursuit_dynamic.yaml
Due: none

fix
  core/pyproject.toml
  dashboard/pyproject.toml
  simulation_log.json
  simulators/core/pyproject.toml
  simulators/simulator_dynamic/pyproject.toml
  simulators/simulator_kinematic/pyproject.toml
  uv.lock
Due: deptry

fix
  pyproject.toml
  simulators/core/tests/__init__.py
Due: none

fix
  .pre-commit-config.yaml
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/core/src/ad_component_core/generic_ad_component.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  core/src/core/interfaces/simulation/log.py
  core/tests/test_interfaces.py
  pyproject.toml
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_solver.py
  simulators/simulator_dynamic/src/simulator_dynamic/tire_model.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  uv.lock
Due: deptry

fix
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/simulation/__init__.py
  core/src/core/interfaces/simulation/log.py
  core/src/core/interfaces/simulator.py
  core/src/core/interfaces/vehicle.py
  simulators/core/src/simulator_core/log_repository.py
Due: deptry

fix
  core/src/core/data/ad_components/__init__.py
  core/src/core/data/ad_components/stack.py
  core/src/core/interfaces/ad_components.py
  core/src/core/interfaces/simulator.py
  experiment/runner/src/experiment_runner/runner.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_simulator.py
Due: deptry

fix
  core/src/core/data/simulator/config.py
  core/src/core/interfaces/dashboard.py
  core/src/core/interfaces/simulator.py
  dashboard/src/dashboard/generator.py
  dashboard/tests/dummy_data.py
  dashboard/tests/test_dashboard.sh
  experiment/configs/experiments/pure_pursuit_new_config.yaml
  experiment/runner/src/experiment_runner/metrics.py
  experiment/runner/src/experiment_runner/runner.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_simulator.py
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
Due: deptry
