Repository masahiro-kubota/python-self-driving-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, deptry-runner, deptry-training, deptry-ad-components-core, deptry-pure-pursuit, deptry-planning-utils, deptry-pid-controller, deptry-neural-controller, deptry-simulators-core, deptry-simulator-kinematic, deptry-simulator-dynamic, deptry-dashboard, dashboard-eslint, dashboard-prettier

deptry:
  name: deptry (core)
  entry: uv run --directory core deptry .
  language: system
  pass_filenames: false

deptry-runner:
  name: deptry (experiment/runner)
  entry: uv run --directory experiment/runner deptry .
  language: system
  pass_filenames: false

deptry-training:
  name: deptry (experiment/training)
  entry: uv run --directory experiment/training deptry .
  language: system
  pass_filenames: false

deptry-ad-components-core:
  name: deptry (ad_components/core)
  entry: uv run --directory ad_components/core deptry .
  language: system
  pass_filenames: false

deptry-pure-pursuit:
  name: deptry (planning/pure_pursuit)
  entry: uv run --directory ad_components/planning/pure_pursuit deptry .
  language: system
  pass_filenames: false

deptry-planning-utils:
  name: deptry (planning/planning_utils)
  entry: uv run --directory ad_components/planning/planning_utils deptry .
  language: system
  pass_filenames: false

deptry-pid-controller:
  name: deptry (control/pid_controller)
  entry: uv run --directory ad_components/control/pid_controller deptry .
  language: system
  pass_filenames: false

deptry-neural-controller:
  name: deptry (control/neural_controller)
  entry: uv run --directory ad_components/control/neural_controller deptry .
  language: system
  pass_filenames: false

deptry-simulators-core:
  name: deptry (simulators/core)
  entry: uv run --directory simulators/core deptry .
  language: system
  pass_filenames: false

deptry-simulator-kinematic:
  name: deptry (simulators/simulator_kinematic)
  entry: uv run --directory simulators/simulator_kinematic deptry .
  language: system
  pass_filenames: false

deptry-simulator-dynamic:
  name: deptry (simulators/simulator_dynamic)
  entry: uv run --directory simulators/simulator_dynamic deptry .
  language: system
  pass_filenames: false

deptry-dashboard:
  name: deptry (dashboard)
  entry: uv run --directory dashboard deptry .
  language: system
  pass_filenames: false

dashboard-eslint:
  name: Dashboard ESLint
  entry: sh -c 'cd dashboard/frontend && npx eslint .'
  language: system
  pass_filenames: false

dashboard-prettier:
  name: Dashboard Prettier
  entry: sh -c 'cd dashboard/frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
  language: system
  pass_filenames: false

fix
  core/src/core/data/simulator/log.py
Due: deptry

fix
  core/src/core/__init__.py
  core/src/core/data/ad_components/__init__.py
  core/src/core/data/ad_components/stack.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/ad_components.py
  core/src/core/interfaces/experiment.py
  core/src/core/interfaces/node.py
  core/src/core/interfaces/simulator.py
  core/src/core/nodes.py
  experiment/configs/current_experiment.yaml
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/runner/src/experiment_runner/ad_components.py
  experiment/runner/src/experiment_runner/config.py
  experiment/runner/src/experiment_runner/executor.py
  experiment/runner/src/experiment_runner/loader.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_config_loader.py
  experiment/runner/tests/test_executor.py
  experiment/runner/tests/test_integration.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_simulator.py
Due: deptry, deptry-runner, deptry-simulators-core

fix!: remove dynamic simulator
  .github/workflows/integration-tests.yml
  README.md
  core/src/core/data/vehicle/params.py
  docs/Makefile
  docs/source/conf.py
  pyproject.toml
  simulators/README.md
  simulators/core/tests/test_map_integration.py
  simulators/simulator_dynamic/README.md
  simulators/simulator_dynamic/pyproject.toml
  simulators/simulator_dynamic/src/simulator_dynamic/__init__.py
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_dynamic/src/simulator_dynamic/tire_model.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle_params.py
  simulators/simulator_dynamic/tests/test_dynamic.py
  uv.lock
Due: deptry, deptry-simulators-core, deptry-simulator-dynamic

fix
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/runner/src/experiment_runner/executor.py
  experiment/runner/src/experiment_runner/runner.py
  simulators/core/src/simulator_core/__init__.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/src/simulator_core/solver.py
  simulators/core/tests/test_solver.py
  simulators/simulator_kinematic/src/simulator_kinematic/vehicle.py
  simulators/simulator_kinematic/tests/test_kinematic.py
  trajectory_verification.png
Due: deptry-runner, deptry-simulators-core, deptry-simulator-kinematic

fix
  README.md
Due: none

fix
  README.md
  ad_components/core/src/ad_component_core/__init__.py
  ad_components/core/src/ad_component_core/flexible_ad_component.py
  ad_components/core/src/ad_component_core/generic_ad_component.py
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/runner/tests/test_integration.py
Due: deptry-runner, deptry-ad-components-core

fix: remove training and data collection
  README.md
  experiment/runner/pyproject.toml
  experiment/runner/src/experiment_runner/runner.py
  uv.lock
Due: deptry-runner

fix
  .pre-commit-config.yaml
  core/pyproject.toml
  experiment/README.md
  experiment/src/experiment_runner/preprocessing/factory.py
  experiment/src/experiment_runner/preprocessing/loader.py
  experiment/tests/test_training.py
  pyproject.toml
  scripts/generate_architecture_diagram.py
  simulator/README.md
  simulator/pyproject.toml
  simulator/src/simulator/__init__.py
  simulator/src/simulator/default.param.yaml
  simulator/src/simulator/dynamics.py
  simulator/src/simulator/io.py
  simulator/src/simulator/map.py
  simulator/src/simulator/simulator.py
  simulator/src/simulator/state.py
  simulator/tests/assets/lanelet2_map.osm
  simulator/tests/test_io.py
  simulator/tests/test_kinematic_simulator.py
  simulator/tests/test_map.py
  simulator/tests/test_map_integration.py
  simulator/tests/test_simulator.py
  simulator/tests/test_state.py
  simulators/README.md
  simulators/src/simulators/__init__.py
  simulators/src/simulators/core/__init__.py
  simulators/src/simulators/core/data/__init__.py
  simulators/src/simulators/kinematic/__init__.py
  simulators/src/simulators/kinematic/simulator.py
  simulators/src/simulators/kinematic/vehicle.py
  uv.lock
Due: deptry

fix
  ad_components/core/src/ad_component_core/flexible_ad_component.py
  core/src/core/__init__.py
  core/src/core/data/node_io.py
  core/src/core/data/simulation_context.py
  core/src/core/executor/__init__.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/node.py
  core/src/core/nodes/generic_node.py
  core/src/core/nodes/physics_node.py
  experiment/src/experiment_runner/runner/evaluation.py
  experiment/tests/test_executor.py
  simulator/src/simulator/default.param.yaml
Due: deptry, deptry-ad-components-core

fix
  ad_components/core/src/ad_component_core/flexible_ad_component.py
  core/src/core/interfaces/ad_components.py
  core/src/core/interfaces/dashboard.py
  core/src/core/interfaces/experiment.py
  core/src/core/interfaces/node.py
  core/src/core/interfaces/simulator.py
  core/src/core/nodes/generic_node.py
  core/src/core/nodes/physics_node.py
  core/tests/test_interfaces.py
  dashboard/src/dashboard/generator.py
  experiment/src/experiment_runner/postprocessing/mlflow_logger.py
  simulator/src/simulator/io.py
  simulator/src/simulator/simulator.py
Due: deptry, deptry-ad-components-core, deptry-dashboard

fix
  .github/workflows/integration-tests.yml
Due: none

fix
  README.md
  experiment/README.md
  simulator/README.md
Due: none

fix
  experiment/src/experiment_runner/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment_runner/postprocessing/postprocessor_factory.py
  experiment/src/experiment_runner/runner/evaluation_runner.py
  experiment/src/experiment_runner/runner/runner_factory.py
Due: none

fix
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/types/index.ts
  dashboard/src/dashboard/generator.py
  dashboard/tests/dummy_data.py
  dashboard/tests/test_vehicle_rectangle.py
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/configs/vehicles/dynamic_vehicle.yaml
Due: deptry-dashboard, dashboard-eslint, dashboard-prettier

fix
  core/src/core/data/simulation_context.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/node.py
  core/src/core/nodes/generic_node.py
  core/src/core/nodes/physics_node.py
  experiment/src/experiment_runner/runner/evaluation_runner.py
  experiment/tests/test_executor.py
Due: deptry

fix
  README.md
  core/src/core/executor/single_process.py
  core/src/core/nodes/physics_node.py
  experiment/configs/current_experiment.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/pyproject.toml
  experiment/src/experiment/__init__.py
  experiment/src/experiment/cli.py
  experiment/src/experiment/interfaces.py
  experiment/src/experiment/orchestrator.py
  experiment/src/experiment/postprocessing/__init__.py
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/postprocessing/mcap_logger.py
  experiment/src/experiment/postprocessing/metrics.py
  experiment/src/experiment/postprocessing/mlflow_logger.py
  experiment/src/experiment/postprocessing/postprocessor_factory.py
  experiment/src/experiment/preprocessing/__init__.py
  experiment/src/experiment/preprocessing/factory.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/processors/__init__.py
  experiment/src/experiment/processors/perception.py
  experiment/src/experiment/processors/sensor.py
  experiment/src/experiment/runner/__init__.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/src/experiment/runner/runner_factory.py
  experiment/src/experiment_runner/__init__.py
  experiment/tests/test_config_loader.py
  experiment/tests/test_executor.py
  experiment/tests/test_integration.py
  experiment/tests/test_training.py
  logger/pyproject.toml
  logger/src/logger/__init__.py
  logger/src/logger/logger_node.py
  pyproject.toml
  supervisor/pyproject.toml
  supervisor/src/supervisor/__init__.py
  supervisor/src/supervisor/supervisor_node.py
  uv.lock
Due: deptry

fix
  core/pyproject.toml
  core/src/core/interfaces/node.py
  core/src/core/utils/validation.py
  experiment/src/experiment/__init__.py
  experiment/src/experiment/interfaces.py
  experiment/src/experiment/orchestrator.py
  experiment/src/experiment/postprocessing/mlflow_logger.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/src/experiment/structures.py
  experiment/tests/test_config_loader.py
  experiment/tests/test_integration.py
  supervisor/src/supervisor/default.param.yaml
  supervisor/src/supervisor/supervisor_node.py
  supervisor/tests/test_supervisor_validation.py
  uv.lock
Due: deptry

fix
  ad_components/control/pid_controller/pyproject.toml
  ad_components/control/pid_controller/src/pid_controller/__init__.py
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/core/src/ad_component_core/__init__.py
  ad_components/core/src/ad_component_core/flexible_ad_component.py
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/__init__.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/__init__.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/ad_components.py
  core/src/core/interfaces/processor.py
  core/src/core/interfaces/simulator.py
  core/src/core/nodes/__init__.py
  core/src/core/nodes/generic_node.py
  core/src/core/utils/node_factory.py
  core/src/core/validation/node_graph.py
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/configs/scenes/default_scene.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/configs/systems/lanelet2_map.osm
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/processors/__init__.py
  experiment/src/experiment/processors/perception.py
  experiment/src/experiment/processors/sensor.py
  experiment/tests/test_config_loader.py
  experiment/tests/test_executor.py
  experiment/tests/test_integration.py
  experiment/tests/test_refactor.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_simulator.py
  supervisor/src/supervisor/default.param.yaml
  supervisor/src/supervisor/supervisor_node.py
  supervisor/tests/test_supervisor_validation.py
  uv.lock
Due: deptry, deptry-ad-components-core, deptry-pure-pursuit, deptry-pid-controller

fix
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/interfaces/node.py
  core/src/core/utils/validation.py
  core/tests/test_node_validation.py
  experiment/src/experiment/processors/sensor.py
  supervisor/src/supervisor/supervisor_node.py
  supervisor/tests/test_supervisor_validation.py
Due: deptry, deptry-pure-pursuit, deptry-pid-controller

fix
  core/src/core/data/experiment/results.py
  dashboard/frontend/src/components/DashboardLayout.tsx
  dashboard/frontend/src/components/TimeSeriesPlot.tsx
  dashboard/frontend/src/components/TrajectoryView.tsx
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/postprocessing/metrics.py
  experiment/src/experiment/postprocessing/mlflow_logger.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/runner/evaluation_runner.py
  supervisor/src/supervisor/default.param.yaml
  supervisor/src/supervisor/supervisor_node.py
Due: deptry, deptry-dashboard, dashboard-eslint, dashboard-prettier

fix
  core/src/core/data/experiment/results.py
  core/src/core/data/vehicle/params.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/src/experiment/postprocessing/metrics.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/tests/test_integration.py
  experiment/tests/test_vehicle_params_logging.py
  logger/src/logger/logger_node.py
  supervisor/src/supervisor/default.param.yaml
  supervisor/src/supervisor/supervisor_node.py
Due: deptry

fix
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/data/vehicle/params.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/tests/test_integration.py
  experiment/tests/test_training.py
  simulator/tests/test_dynamics.py
  simulator/tests/test_simulator.py
Due: deptry, deptry-pure-pursuit, deptry-pid-controller

fix
  experiment/configs/experiments/pure_pursuit.yaml
  supervisor/src/supervisor/default.param.yaml
  supervisor/src/supervisor/supervisor_node.py
  supervisor/tests/test_supervisor_validation.py
Due: none

fix
  README.md
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/tests/test_integration.py
Due: deptry-pure-pursuit

fix
  core/src/core/interfaces/dashboard.py
  dashboard/src/dashboard/generator.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/tests/test_training.py
Due: deptry, deptry-dashboard

fix
  core/src/core/data/__init__.py
  core/src/core/data/ad_components/state.py
  core/src/core/data/environment/__init__.py
  core/src/core/data/environment/obstacle.py
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/types/index.ts
  dashboard/src/dashboard/generator.py
  debug_dashboard_data.py
  debug_obstacles.py
  experiment/README.md
  experiment/configs/experiments/default_experiment.yaml
  experiment/configs/modules/default_module.yaml
  experiment/configs/systems/default_systems.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/tests/test_integration.py
  experiment/tests/test_training.py
  experiment/tests/test_vehicle_params_logging.py
  simulator/pyproject.toml
  simulator/src/simulator/obstacle.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_obstacle.py
  supervisor/src/supervisor/supervisor_node.py
  uv.lock
Due: deptry, deptry-dashboard, dashboard-eslint, dashboard-prettier

fix
  experiment/configs/modules/default_module.yaml
Due: none

fix
  experiment/src/experiment/runner/evaluation_runner.py
Due: none

fix
  core/src/core/data/experiment/results.py
  dashboard/src/dashboard/generator.py
  experiment/src/experiment/postprocessing/metrics.py
  experiment/tests/test_integration.py
  experiment/tests/test_metrics.py
  simulator/src/simulator/simulator.py
Due: deptry, deptry-dashboard

fix
  README.md
  experiment/README.md
Due: none

fix
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
  logger/src/logger/parsers/__init__.py
  logger/src/logger/parsers/lanelet2_parser.py
  logger/src/logger/ros_message_builder.py
  logger/src/logger/visualization/__init__.py
  logger/src/logger/visualization/map_visualizer.py
  logger/src/logger/visualization/obstacle_visualizer.py
  logger/src/logger/visualization/vehicle_visualizer.py
Due: none

fix
  README.md
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  core/pyproject.toml
  core/src/core/executor/single_process.py
  experiment/conf/__init__.py
  experiment/conf/agent/pure_pursuit.yaml
  experiment/conf/config.yaml
  experiment/conf/env/default.yaml
  experiment/conf/experiment/collect_data.yaml
  experiment/conf/experiment/run.yaml
  experiment/configs/.gitkeep
  experiment/configs/experiments/default_experiment.yaml
  experiment/configs/experiments/tiny_lidar_net_experiment.yaml
  experiment/configs/modules/default_module.yaml
  experiment/configs/modules/raceline_awsim_15km.csv
  experiment/configs/modules/tiny_lidar_net_module.yaml
  experiment/configs/systems/default_systems.yaml
  experiment/configs/systems/lanelet2_map.osm
  experiment/configs/systems/tiny_lidar_net_module_systems.yaml
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/src/experiment/cli.py
  experiment/src/experiment/orchestrator.py
  experiment/tests/test_integration.py
  experiment/tests/test_vehicle_params_logging.py
  supervisor/src/supervisor/supervisor_node.py
  uv.lock
Due: deptry

fix
  .agent/workflows/profile.md
  .github/workflows/profile.yml
  README.md
  experiment/conf/experiment/profile.yaml
  profile.speedscope.json
  profile_dashboard.html
  profile_dashboard_template.html
  profile_data.json
  profile_summary.txt
  pyproject.toml
  scripts/profile_experiment.py
  uv.lock
Due: none

fix
  simulator/src/simulator/sensor.py
Due: none

fix
  debug_dashboard_data.py
  debug_obstacles.py
  profile.speedscope.json
  trajectory_verification.png
Due: none

fix(lidar): use culling and 2dd vector and map cache
  simulator/src/simulator/sensor.py
Due: none

fix
  README.md
  experiment/tests/test_integration.py
Due: none

fix
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  .gitignore
  README.md
  experiment/src/experiment/engine/base.py
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/evaluator.py
  experiment/src/experiment/engine/extractor.py
  experiment/src/experiment/engine/trainer.py
  experiment/tests/conftest.py
  experiment/tests/test_integration.py
  pyproject.toml
  uv.lock
Due: none

fix: jit compile
  pyproject.toml
  simulator/pyproject.toml
  simulator/src/simulator/sensor.py
  uv.lock
Due: none

Path conditions:
  deptry: any of: ^core/
  deptry-runner: any of: ^experiment/runner/
  deptry-training: any of: ^experiment/training/
  deptry-ad-components-core: any of: ^ad_components/core/
  deptry-pure-pursuit: any of: ^ad_components/planning/pure_pursuit/
  deptry-planning-utils: any of: ^ad_components/planning/planning_utils/
  deptry-pid-controller: any of: ^ad_components/control/pid_controller/
  deptry-neural-controller: any of: ^ad_components/control/neural_controller/
  deptry-simulators-core: any of: ^simulators/core/
  deptry-simulator-kinematic: any of: ^simulators/simulator_kinematic/
  deptry-simulator-dynamic: any of: ^simulators/simulator_dynamic/
  deptry-dashboard: any of: ^dashboard/
  dashboard-eslint: any of: ^dashboard/frontend/src/.*\.(ts|tsx)$
  dashboard-prettier: any of: ^dashboard/frontend/src/.*\.(ts|tsx|css)$
