Repository masahiro-kubota/python-self-driving-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, deptry-runner, deptry-training, deptry-ad-components-core, deptry-pure-pursuit, deptry-planning-utils, deptry-pid-controller, deptry-neural-controller, deptry-simulators-core, deptry-simulator-kinematic, deptry-simulator-dynamic, deptry-dashboard, dashboard-eslint, dashboard-prettier

deptry:
  name: deptry (core)
  entry: uv run --directory core deptry .
  language: system
  pass_filenames: false

deptry-runner:
  name: deptry (experiment/runner)
  entry: uv run --directory experiment/runner deptry .
  language: system
  pass_filenames: false

deptry-training:
  name: deptry (experiment/training)
  entry: uv run --directory experiment/training deptry .
  language: system
  pass_filenames: false

deptry-ad-components-core:
  name: deptry (ad_components/core)
  entry: uv run --directory ad_components/core deptry .
  language: system
  pass_filenames: false

deptry-pure-pursuit:
  name: deptry (planning/pure_pursuit)
  entry: uv run --directory ad_components/planning/pure_pursuit deptry .
  language: system
  pass_filenames: false

deptry-planning-utils:
  name: deptry (planning/planning_utils)
  entry: uv run --directory ad_components/planning/planning_utils deptry .
  language: system
  pass_filenames: false

deptry-pid-controller:
  name: deptry (control/pid_controller)
  entry: uv run --directory ad_components/control/pid_controller deptry .
  language: system
  pass_filenames: false

deptry-neural-controller:
  name: deptry (control/neural_controller)
  entry: uv run --directory ad_components/control/neural_controller deptry .
  language: system
  pass_filenames: false

deptry-simulators-core:
  name: deptry (simulators/core)
  entry: uv run --directory simulators/core deptry .
  language: system
  pass_filenames: false

deptry-simulator-kinematic:
  name: deptry (simulators/simulator_kinematic)
  entry: uv run --directory simulators/simulator_kinematic deptry .
  language: system
  pass_filenames: false

deptry-simulator-dynamic:
  name: deptry (simulators/simulator_dynamic)
  entry: uv run --directory simulators/simulator_dynamic deptry .
  language: system
  pass_filenames: false

deptry-dashboard:
  name: deptry (dashboard)
  entry: uv run --directory dashboard deptry .
  language: system
  pass_filenames: false

dashboard-eslint:
  name: Dashboard ESLint
  entry: sh -c 'cd dashboard/frontend && npx eslint .'
  language: system
  pass_filenames: false

dashboard-prettier:
  name: Dashboard Prettier
  entry: sh -c 'cd dashboard/frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
  language: system
  pass_filenames: false

fix
  README.md
  data/train_set.dvc
  data/val_set.dvc
  experiment/src/experiment/engine/extractor.py
  experiment/src/experiment/engine/trainer.py
  experiment/tools/convert_model.py
  models/tinylidarnet_v1.npy
  models/tinylidarnet_v2.npy
  pyproject.toml
  uv.lock
Due: none

fix
  .gitignore
  models/tinylidarnet_v1.npy
Due: none

fix
  README.md
  experiment/conf/experiment/evaluation.yaml
Due: none

fix
  dashboard/src/dashboard/generator.py
  experiment/conf/experiment/evaluation.yaml
  logger/src/logger/visualization/vehicle_visualizer.py
Due: deptry-dashboard

fix
  core/src/core/data/experiment/results.py
  experiment/conf/env/default.yaml
  experiment/conf/env/no_obstacle.yaml
  experiment/conf/env/randomized.yaml
  experiment/conf/experiment/base.yaml
  experiment/src/experiment/core/config.py
  experiment/src/experiment/core/structures.py
  experiment/src/experiment/engine/base.py
  experiment/src/experiment/engine/evaluator.py
  experiment/tests/test_integration.py
  supervisor/src/supervisor/supervisor_node.py
Due: deptry

fix
  README.md
  ad_components/planning/mppi_planner/src/mppi_planner/mppi.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi_planner_node.py
  ad_components/planning/mppi_planner/tests/test_mppi.py
  experiment/conf/agent/mppi.yaml
  experiment/conf/experiment/profile.yaml
Due: none

fix
  ad_components/perception/ideal_sensor/src/ideal_sensor/sensor_node.py
  ad_components/planning/centerline_planner/src/centerline_planner/centerline_planner_node.py
  experiment/conf/agent/centerline_pure_pursuit.yaml
  experiment/conf/experiment/base.yaml
  logger/src/logger/logger_node.py
Due: none

fix
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  ad_components/control/tiny_lidar_net/tests/test_tiny_lidar_net_node.py
  core/src/core/data/__init__.py
  core/src/core/data/sensor.py
  core/src/core/data/vehicle/params.py
  core/src/core/utils/mcap_utils.py
  core/src/core/utils/ros_message_builder.py
  dashboard/src/dashboard/reader.py
  experiment/src/experiment/__init__.py
  experiment/src/experiment/engine/__init__.py
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/evaluator.py
  experiment/src/experiment/engine/extractor.py
  experiment/src/experiment/engine/trainer.py
  simulator/src/simulator/sensor.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_sensor.py
Due: deptry, deptry-dashboard

fix
  experiment/src/experiment/engine/evaluator.py
  scripts/mcap_server.py
Due: none

fix
  experiment/src/experiment/engine/evaluator.py
Due: none

fix
  core/src/core/data/experiment/config.py
  experiment/conf/env/randomized.yaml
  experiment/src/experiment/core/config.py
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/obstacle_generator.py
Due: deptry

fix
  experiment/conf/ad_components/centerline_pure_pursuit.yaml
  experiment/conf/ad_components/lateral_shift.yaml
  experiment/conf/ad_components/mppi.yaml
  experiment/conf/ad_components/pure_pursuit.yaml
  experiment/conf/ad_components/tiny_lidar.yaml
  experiment/conf/config.yaml
  experiment/conf/env/default.yaml
  experiment/conf/env/no_obstacle.yaml
  experiment/conf/experiment/base.yaml
  experiment/conf/vehicle/default.yaml
Due: none

fix
  core/src/core/data/vehicle/params.py
  experiment/conf/ad_components/lateral_shift.yaml
  experiment/conf/config.yaml
  experiment/conf/experiment/base.yaml
  experiment/conf/vehicle/default.yaml
  logger/src/logger/track_loader.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_sensor.py
Due: deptry

fix
  ad_components/control/tiny_lidar_net/scripts/lib/data.py
  ad_components/control/tiny_lidar_net/scripts/lib/loss.py
  ad_components/control/tiny_lidar_net/scripts/lib/model.py
  ad_components/control/tiny_lidar_net/scripts/train.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/config.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/core.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/tinylidarnet.py
  experiment/conf/ad_components/tiny_lidar.yaml
Due: none

fix
  .gitignore
  scripts/system_identification/analyze_acceleration.py
  scripts/system_identification/analyze_steering_rate.py
  scripts/system_identification/estimate_steering_dynamics.py
Due: none

fix
  core/pyproject.toml
  core/src/core/utils/mcap_utils.py
  experiment/conf/ad_components/centerline_pure_pursuit.yaml
  experiment/conf/vehicle/default.yaml
  mlops.md
  pyproject.toml
  scripts/system_identification/analyze_acceleration.py
  scripts/system_identification/analyze_steering_rate.py
  scripts/system_identification/estimate_steering_dynamics.py
  simulator/src/simulator/dynamics.py
  simulator/src/simulator/simulator.py
  simulator/src/simulator/state.py
  simulator/tests/test_simulator.py
Due: deptry

fix
  ad_components/control/mpc_lateral_controller/src/mpc_lateral_controller/mpc_lateral_controller_node.py
  ad_components/control/mpc_lateral_controller/src/mpc_lateral_controller/mpc_solver.py
  experiment/conf/ad_components/mpc.yaml
Due: none

fix
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/pure_pursuit_controller_node.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/config.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  experiment/conf/ad_components/tiny_lidar.yaml
  experiment/conf/ad_components/tiny_lidar_debug.yaml
Due: none

fix
  experiment/conf/ad_components/lateral_shift.yaml
  experiment/conf/ad_components/tiny_lidar_debug.yaml
  experiment/conf/config.yaml
  experiment/conf/experiment/data_collection_random_start.yaml
  experiment/scripts/aggregate_multirun.py
  experiment/src/experiment/engine/evaluator.py
  latest_output
  mlops0102.md
Due: none

fix
  .gitignore
  core/src/core/data/vehicle/params.py
  data/processed/train_v7.dvc
  docs/blog_structure_proposal.md
  experiment/conf/ad_components/lateral_shift.yaml
  experiment/conf/ad_components/tiny_lidar_debug.yaml
  experiment/conf/env/initial_state_sampling.yaml
  experiment/conf/env/randomized.yaml
  experiment/conf/env/track_forward.yaml
  experiment/conf/env/track_forward_initial_state_sampling.yaml
  experiment/conf/experiment/data_collection_random_start.yaml
  experiment/conf/experiment/data_collection_track_forward.yaml
  experiment/conf/experiment/evaluation.yaml
  experiment/conf/vehicle/default.yaml
  experiment/scripts/aggregate_evaluation.py
  experiment/scripts/run_mlops_pipeline.py
  experiment/scripts/run_mlops_pipeline_obstacle.py
  experiment/scripts/run_mlops_pipeline_obstacle_merge_data.py
  experiment/src/experiment/cli.py
  experiment/src/experiment/core/config.py
  experiment/src/experiment/debug_nodes.py
  experiment/src/experiment/engine/base.py
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/evaluator.py
  experiment/src/experiment/engine/extractor.py
  experiment/src/experiment/engine/obstacle_generator.py
  latest_output
  mlops0102.md
  run_mlops_result_2026-01-04-15-04-47.json
  scripts/diagnostic_mcap.py
  scripts/system_identification/estimate_dynamics.py
  simulator/src/simulator/dynamics.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_dynamics.py
Due: deptry

fix
  .env.example
  aggregation_log.txt
  aggregation_log_184249.txt
  experiment/README.md
  experiment/conf/ad_components/tiny_lidar.yaml
  experiment/conf/ad_components/tiny_lidar_debug.yaml
  experiment/conf/env/track_forward_initial_state_sampling.yaml
  experiment/conf/experiment/training.yaml
  experiment/scripts/aggregate_evaluation.py
  experiment/scripts/aggregate_multirun.py
  experiment/scripts/run_mlops_pipeline_obstacle.py
  experiment/src/experiment/core/config.py
  experiment/src/experiment/data/dataset.py
  experiment/src/experiment/engine/base.py
  experiment/src/experiment/engine/extractor.py
  experiment/src/experiment/engine/obstacle_generator.py
  experiment/src/experiment/engine/trainer.py
  experiment/tests/test_dataset_scaling.py
  latest_output
  pc_profille.log
  pyproject.toml
  uv.lock
  vmstat_benchmark.log
Due: none

fix
  docs/blog_structure_proposal.md
  experiment/conf/env/randomized.yaml
  experiment/conf/env/track_forward.yaml
  experiment/conf/env/track_forward_initial_state_sampling.yaml
  experiment/src/experiment/core/config.py
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/initial_state_sampler.py
  experiment/src/experiment/engine/obstacle_generator.py
  experiment/src/experiment/engine/pose_sampler.py
  experiment/tests/reproduce_obstacle_spacing.py
  experiment/tests/test_pose_sampler_offset.py
Due: none

fix
  .env.example
Due: none

Path conditions:
  deptry: any of: ^core/
  deptry-runner: any of: ^experiment/runner/
  deptry-training: any of: ^experiment/training/
  deptry-ad-components-core: any of: ^ad_components/core/
  deptry-pure-pursuit: any of: ^ad_components/planning/pure_pursuit/
  deptry-planning-utils: any of: ^ad_components/planning/planning_utils/
  deptry-pid-controller: any of: ^ad_components/control/pid_controller/
  deptry-neural-controller: any of: ^ad_components/control/neural_controller/
  deptry-simulators-core: any of: ^simulators/core/
  deptry-simulator-kinematic: any of: ^simulators/simulator_kinematic/
  deptry-simulator-dynamic: any of: ^simulators/simulator_dynamic/
  deptry-dashboard: any of: ^dashboard/
  dashboard-eslint: any of: ^dashboard/frontend/src/.*\.(ts|tsx)$
  dashboard-prettier: any of: ^dashboard/frontend/src/.*\.(ts|tsx|css)$
